@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

:root {
  --primary-color: #6c63ff;
  --text-color: #3f3d56;
}

/* remove browser default padding, margin and box-sizing */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page-container {
  display: flex;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
}

#landing {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

#title-logo {
  display: flex;
  align-items: center;
}

#title-logo img {
  width: 80px;
  height: 80px;
}

#title-logo h1 {
  font-size: 96px;
  font-family: 'Open Sans';
  line-height: 100%;
  color: var(--primary-color);
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.cta p {
  max-width: 60%;
  font-family: 'Open Sans';
  font-size: 48px;
  color: var(--text-color);
}

.cta .searchbox-button-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.cta .searchbox-button-container #search-box {
  width: 20rem;
  height: 3rem;
  border: 3px solid var(--primary-color);
  border-radius: 10px;
  margin-bottom: 1rem;
}

#graphic-container {
  flex: 1;
}
