@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

:root {
  --primary-color: #00b4ff;
  --text-color: #3f3d56;
}

/* remove browser default padding, margin and box-sizing */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
  color: white;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  background-color: #00b4ff;
  overflow: hidden;
}

#landing {
  display: flex;
  height: 100vh;
}

#title-logo {
  display: flex;
  align-items: flex-end;
  padding: 2rem 0;
  margin: 0 2rem;
}

#title-logo img {
  width: calc(16px + 2vw);
  height: calc(16px + 2vw);
  margin-right: 2vw;
  z-index: 2;
}

#title-logo h1 {
  font-size: calc(16px + 2vw);
  font-family: 'Open Sans';
  line-height: 0.8em;
  color: var(--text-color);
  z-index: 2;
}

.cta {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding: 2rem;
}

.cta p {
  max-width: 60%;
  font-family: 'Open Sans';
  font-size: calc(10px + 2vw);
  color: var(--text-color);
}

.cta .searchbox-button-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.cta .searchbox-button-container #search-box {
  width: 15vw;
  min-width: 160px;
  height: 3rem;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 24px;
  padding-left: 1rem;
  font-family: 'Open Sans';
  color: black;
  transition: all 0.3 ease-in-out;
}

.cta .searchbox-button-container #search-box:focus {
  box-shadow: inset 5px 5px 10px #d9d9d9, inset -5px -5px 10px #ffffff;
}

.cta .searchbox-button-container #search-button {
  height: 3rem;
  width: 10rem;
  background: white;
  color: black;
  border: 1px solid var(--primary-color);
  border-radius: 2rem;
  font-family: 'Open Sans';
  font-size: 1.5rem;
  transition: all 0.3s ease-in;
}

.cta .searchbox-button-container #search-button:hover {
  cursor: pointer;
  color: white;
  background: linear-gradient(145deg, #00c1ff, #00a2e6);
  box-shadow: 5px 5px 15px #0099d9, -5px -5px 15px #00cfff;
}

#graphic-container {
  flex: 1;
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#graphic-container #weather-img {
  max-width: 80%;
  filter: drop-shadow(1px 2px 3px #0073a5);
}

.headline {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(145deg, #00a2e6, #00c1ff);
  overflow: hidden;
  /* display: none; */
}

.headline h2 {
  padding: 1rem;
}

.headline .headline-text {
  padding: 0 1rem;
  text-align: justify;
  color: white;
}

.headline img {
  height: 50%;
  width: 100%;
  z-index: 2;
}

.five-day {
  flex: 2;
  display: flex;
  align-items: stretch;
  background: linear-gradient(145deg, #00a2e6, #00c1ff);
}

.weather-item {
  flex: 1 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  padding-top: 1rem;
  text-align: center;
  background-color: #00c1ff;
}

.weather-item h3 {
  margin-top: 1rem;
  text-decoration: underline;
}

.weather-item button {
  margin: 1rem 0;
  background: white;
  color: black;
  border: 1px solid var(--primary-color);
  border-radius: 2rem;
  font-family: 'Open Sans';
  transition: all 0.3s ease-in;
  padding: 0.5rem;
}

.weather-item button:hover {
  cursor: pointer;
  color: white;
  background: linear-gradient(145deg, #00c1ff, #00a2e6);
}

.icon-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .cta p {
    font-size: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .page-container {
    flex-direction: column;
    overflow: scroll;
  }

  #landing {
    min-height: 50vh;
    flex-direction: column;
  }

  #title-logo {
    justify-content: flex-start;
  }

  .cta {
    align-items: center;
    height: auto;
  }

  .cta p {
    max-width: 80vw;
    text-align: center;
  }

  .cta .searchbox-button-container {
    align-items: center;
  }

  .cta .searchbox-button-container #search-box {
    width: 80vw;
  }

  #graphic-container {
    max-height: 50vh;
  }
  #graphic-container > img {
    max-height: 80%;
  }

  .headline {
    min-height: 90vh;
  }
  .five-day {
    flex-direction: column;
  }
}
